@{
    ViewBag.Title = "Tutorial1";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Tutorial 1</h2>
<h3>Users</h3>
<table id="users" class="table table-striped" >
    <thead>
        <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<form class="form-horizontal">
    <legend>Add a new user</legend>
    <label>UserName</label>
    <input id="txtUserName" type="text" placeholder="UserName">
    <span class="help-block"></span>
    <label>Email</label>
    <input id="txtEmail" type="text" placeholder="Email Address">
    <span class="help-block"></span>
    <label>First Name</label>
    <input id="txtFirstName" type="text" placeholder="First Name" />
    <span class="help-block"></span>
    <label>Last Name</label>
    <input id="txtLastName" type="text" placeholder="Last Name" />
    <button id="btn_add_user" type="submit" class="btn">Submit</button>
</form>

@section pageScripts{

    <script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub. 
            var hubClient = $.connection.tutorial1Hub;
            // Create a function that the hub can call to broadcast messages.
            hubClient.client.receiveUsers = function (users) {
                // Html encode display name and message.
                console.log('The users have been received by the client.');
                for(var i = 0; i < users.length; i++){
                    $('#users tbody').append('<tr><td>' + users[i].UserName + '</td><td>' + users[i].Email + '</td><td>' + users[i].FirstName + '</td><td>' + users[i].LastName + '</td></tr>');
                }
            };

            hubClient.client.receiveAddedUser = function (user) {
                $('#users').append('<li>' + user.UserName + '</li>');
            };

            // Start the connection.
            $.connection.hub.start().done(function () {
                hubClient.server.getUsers();

               
            });

            $(document).ready(function () {
                $(document).on('click', '#btn_add_user', function () {
                    var user = {
                        UserName: $('#txtUserName').val(),
                        Email: $('#txtEmail').val(),
                        FirstName: $('#txtFirstName').val(),
                        LastName: $('#txtLastName').val(),
                    };

                    hubClient.server.addUser(user);
                });
            });
        });
    </script>
}
